<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.radio.hbr"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>HBR</name>

    <description>
       Homeboyz Radio
    </description>

    <author href="https://kwetudesign.co.ke" email="kwetudesign@gmail.com">
        kwetu design 
    </author>
    
    <icon src="icon.png" />

    <access origin="*" />
    
    
    <gap:splash src="splash.png" />
    <gap:platform name="ios"/>
    <gap:platform name="android" />
	<gap:platform name="winphone" />

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
    

</widget>